<form>
 <h1>{{localize "MODULE.Ruling"}}</h1>
 <h3>{{localize "MODULE.SelectTargetNumber"}}</h3>
 <div class= "felxcol ruling-chat">
  <div class="felxrow">
    {{localize "MODULE.TargetNumer"}}: 
    <input id="numero-alvo" type="number" value="1" />
  </div> 
  <div class="felxrow">
    {{localize "MODULE.RulingDice"}}:     
    <select id="ruling-dice">
      <option value="1d4">1d4</option>
      <option value="1d6">1d6</option>
      <option value="1d8">1d8</option>
      <option value="1d10">1d10</option>
      <option value="1d12">1d12</option>
      <option value="1d20">1d20</option>
    </select>
  </div> 

</div>

</form>